@import 'assets/styles/variables.scss';

button {
  user-select: none;
  font-size: 20px;
  background-color: $grey;
  padding: 5px;
  font-weight: bold;
  border: 1px solid $grey;
  border-radius: 10px;
  padding: 5px 10px;

  &[disabled] {
    cursor: not-allowed;
  }

  &:hover:not([disabled]) {
    background-color: #ebebeb;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  &.success {
    background: $green;
    &:hover {
      background: lighten($color: $green, $amount: 10);
    }
  }

  &.error {
    background: $red;
    &:hover {
      background: lighten($color: $red, $amount: 10);
    }
  }
}
